/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MAIN */
.container{
    width: 100vw;
    display: flex;
    justify-content: space-between;
}


#playground{
    width: 600px;
    /* margin: auto; */
    display: flex;
    flex-wrap: wrap;
    background-color: cornsilk;
}


#playground div{
    width: 60px;
    height: 60px;
    border-radius: 20px;
    text-align: center;
    line-height: 60px;
    background-color: green;
    border: 1px solid black;

}

#playground .click_bg_switch{
    background-color: red;
}



